*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --column-width-expanded: 4vw;
  --column-width-closed: 15vw;
}

body{
  height: 100vh;
  width: 100vw;
}

.layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 10vh 1fr;
  transition: grid-template-columns 0.3s ease; 
}

.layout-expanded {
  grid-template-columns: var(--column-width-expanded) 1fr;
}

.layout-closed {
  grid-template-columns: var(--column-width-closed) 1fr;
}

.header{
  background-color: #fff;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 2vh;
}

.sidebar{
  background-color: #444;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-radius: 0 20px 20px 0;
}

.content{
  background-color: #fff;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: grid;
  gap: 10px;
  padding: 10px;
  transition: grid-template-areas 2s ease;
}

.chart-layout-1 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "c1 c1 c2"
    "c3 c3 c3";
}
 
.chart-layout-2 {
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "c1 c2 c2"
    "c3 c3 c3";
}
 
.layout-1 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "c1 c1 c1"
    "c3 c3 c3"
    ;
}
 
.layout-2 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "c1 c1 c2"
    "c3 c3 c3"
    ;
}

.card{
  border-radius: 20px;
  background-color: #eee;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}


.card:nth-child(1){
  grid-area: c1;
}

.card:nth-child(2){
  grid-area: c2;
  /* display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: start; */
}

div.card.nothing {
  display: none;
}

.sortable-container {
  grid-area: c3;
  display: flex;
  flex-direction: column;
}

.sortable-container-items{
  display: flex;
  gap: 1.5vh;
  flex: 1;
}

.sortable-container-header {
  display: flex;
  gap: 1vh;
  font-size: 15px;
  padding: 0.5vh 2vh 0.5vh 2vh;
}

.sortable-container-heading {
  margin-right: auto;
  font-weight: bold;
}

/* 
.card:nth-child(4){
  grid-area: c4;
}

.card:nth-child(5){
  grid-area: c5;
} */

.expand-btn{
  border-radius: 10px;
}

.listbox{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 35vh;
}

.list-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom:  #fff solid ;
  margin-bottom: 10px;
}

.list-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.list-item-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-item-line-2{
  margin-bottom: 5px;
}

.item-name{
  color: #3394ED;
}

.item-status{
  color: #ffa500;
}

.report-btn{
  border-radius: 10px;
  border: none;
  font-size: 1vw;
  background-color: #999;
  color: #fff;
  padding: 5px ;
}

.hidden-card{
  display: none;
}

.top-section{
  display: flex;
  align-items:center;
  justify-content: center;
  padding:30px;
  margin: 3vw 3vw;
  background-color: #ddd;
}

.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 18px;
  transition: all 0.5s;
  align-items: center;
}

.link:hover{
  background:#777;
  color: #fff;
  transition: all 0.5s;
}

.logo{
  text-align: center;
}

.icon{
  font-size: 1.5vw;
  display: flex;
  justify-content: center;

}

.link-text{
  font-size:larger;
}

.list-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.view-list{
  padding: 0.4vh;
  background-color: #bbb;
}

.bottom-section{
  position: absolute;
  padding: 3vw;
  bottom: 2rem;
  color: #fff;
}

.bottom-content{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.log-out-btn{
  border-radius: 25px;
  width: 10vw;
  border: none;
  padding: 15px;
  background-color: #999;
  font-size: large;
  font-weight: bolder;
  color: #fff;
}



button.header-report-btn {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0 20px 0 20px;
  font-weight: bolder;
}
 
div.first-line {
  display: flex;
  gap: 15px;
  margin-bottom: 0.5vh;
  font-weight: bolder;
}
 
span.dashboard-text {
  margin-right: auto;
  font-weight: bolder;
  font-size: 18px;
}
 
input.header-search {
  border-radius: 10px;
  background-color: #ddd;
  padding: 0 5px 0 5px;
  border: none;
}
 
div.welcome-div {
  font-size: 1.3rem;
  font-weight: bolder;
}

span.settings ,span.alert{
  font-size: 1.5vw;
} 
 
span.welcome-text {
  color: #555;
}


div.scrollable-card {
  display: block;
  flex: 1;
  height: auto;
}

div.scrollable-card-header {
  display: flex;
  padding: 0.7vh;
}

span.card-header-text {
  margin-right: auto;
  margin-left: 2vh;
  font-size: 14px;
  /* background-color: blue; */
}

.scrollable-card-btn {
  margin-right: 1vh;
  /* margin-left: auto; */
}

.map-options{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin:10px;
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
}
 
 
.hazard-options{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin: 10px;
  padding: 10px;
  gap: 5px;
}
 
 
.flex-input{
  display: flex;
  gap: 10px;
}
 
.map-options > h4, .hazard-options > h4{
  border-bottom: solid #ddd;
  border-width: 1px;
}

.sortable-settings-select {
  margin: 1.5vh 0 1.5vh 0;
}

.map-container{
  height: 40vh;
  padding-top: 1vw;
  padding-bottom: 1vw;
 
}
 
.map-header{
  margin-bottom: 5px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
}
 
.map-text{
  font-weight: bolder;
}
 
.map-options{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  margin:10px;
  padding: 10px;
  gap: 5px;
  border-radius: 10px;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: larger;
}
 
.pagination-selected{
  background-color: #999;
  padding: 5px;
}

.display-block{
  display: block;
}

.display-hidden{
  display: none;  
}

.top-section{
  display: flex;
  align-items:center;
  justify-content: center;
  padding:30px;
  margin: 3vw 3vw;
  background-color: #ddd;
}


@media only screen and (max-width: 1281px) and (min-width: 601px) {
    .link-text{
      font-size: 1rem;
    }

    .log-out-btn{
      font-size: 12px;
      width: 8vw;
      padding: 10px;
    }

    .list-item-line{
      font-size: 0.9rem;;
    }

    div.welcome-div {
      font-size: 1rem;
    }

    span.dashboard-text {
      margin-right: auto;
      font-weight: bolder;
      font-size: 0.9rem;
    }
}

@media only screen and (max-width: 600px) {

  body{
    height: 100%;
    width: 100%;
  }

  .content{
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .sidebar{

    height: 100%;
  }

  .top-section{
    display: none;
  }

  .bottom-content{
    font-size: 0.5rem;
  }

  .log-out-btn{
    font-size: 0.4rem;
    width: 30px;
    padding: 10px;

  }
  
  .layout {
    height: 100%;
    width: 100%;
    display: grid;
    flex-direction: column;
  }

  .header{
    display: flex;
    flex-direction: column;

  }

  .sortable-container{
    margin-top: 2rem;
    height: 700px;
  }

  .sortable-container-header{
    font-size: 0.7rem;
  }

  .sortable-container-items{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  div.scrollable-card {
    display: block;

  }

  .layout-options{
    display: none;
  }

  .list-item{
    font-size: 0.7rem;
  }

  .icon, span.settings ,span.alert{
    font-size: 1rem;
  }

  .pagination{
    font-size: 0.7rem;
  }

  .report-btn{
    font-size: 0.6rem;
  }

  div.welcome-div {
    font-size: 0.7rem;
  }

  span.dashboard-text {
    margin-right: auto;
    font-weight: bolder;
    font-size: 0.6rem;
  }

  .link-text{
    display: none;
  }

  .view-list{
    font-size: 0.8rem;
  }
   
  
}
